@import-normalize;

/* .App {
  text-align: center;
}

/* login background image */
.ui.container.login.background {
  background: url(../images/undraw_tasting_de22.svg) no-repeat center;
}

/* signup background image */
.ui.container.signup.background {
  background: url(../images/undraw_street_food_hm5i.svg) no-repeat center;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* app */
.app {
  margin: 2rem;
  /* margin: 2rem 0 2rem 0; */
}

/* login/signup form */
.ui.center.aligned.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* menu */
/* .ui.massive.secondary.menu {
  margin: 0 2rem 2rem 2rem;
} */

/* right menu */
.ui.menu:not(.vertical) .right.menu {
  margin-left: 0 !important;
}

/* search bar */
.search.form.container,
.ui.circular.icon.button {
  margin: auto;
}

/* search input */
.ui.input {
  width: 30rem;
}

/* restaurant list container */
.restaurant.list.container {
  margin: 0rem 2rem 0rem 2rem;
}

/* restaurant details container */
.restaurant.details.container {
  margin: 3rem 3rem;
}

/* save restaurant container */
.save.restaurant {
  float: right;
}

/* save restaurant button */
button.ui.basic.circular.icon.button {
  display: flex;
}
/* reviews */
.ui.comments {
  margin: 1.5em 1.5em;
}

/* review form */
form.ui.form.review {
  margin-bottom: 6rem;
}
/* add review button */
button.ui.teal.basic.right.floated.button {
  margin-top: 0.5rem;
}

/* comment author */
.ui.comments .comment a.author {
  pointer-events: none;
}

/* textarea */
.ui.form textarea {
  resize: none;
}
